/***********************************Inicializa Logo******************************************/
.logo{
    background-color: blue;
    text-align: center;
}
.logo img{
    width: 450px;
    height: 200px;
    padding: 0.5%;
}
/***********************************Finaliza Logo********************************************/
/***********************************Inicicializa Menu***************************************/
.menu{
background-color: red;  /*Somente utlizando para teste */
text-align: center;
}
.menu li{
    display: inline-block;
    padding: 1%;
}
.menu li a{
    text-decoration: none;
    color: white;          /*Posivelmente irá ser trocada*/
}

/***********************************Finaliza Menu***************************************/

/***********************************Inicializa Catalogo *********************************/
.catalogo{
    width: 100%;
    height: auto;
    background-color: blue;
}
.item{
    width: 45%;
    height: auto;
    background-color: brown;
    overflow: hidden;
    display: inline-block;
    margin: 5px 32px;
}
.item img{
    width: 250px;
    height: 250px;
    padding: 1%;
    float: left;
}

/***********************************Finaliza Catalogo *********************************/
/***********************************Inicializa Rodapé *********************************/
footer{
    width: 100%;
    background-color: blue;
    text-align: center;
    padding: 10px 0;
}
/***********************************Finaliza Rodapé *********************************/