/***********************************Inicializa Logo******************************************/
.logo{
    background-color: blue;
    text-align: center;
}
.logo img{
    margin-top: 3%;
}
.logo h1{
    display: inline-block;
}
/***********************************Finaliza Logo********************************************/
/***********************************Inicicializa Menu***************************************/
.menu{
background-color: red;  /*Somente utlizando para teste */
text-align: center;
}
.menu li{
    display: inline-block;
    padding: 1%;
}
.menu li a{
    text-decoration: none;
    color: white;          /*Posivelmente irá ser trocada*/
}

/***********************************Finaliza Menu***************************************/

/***********************************Inicializa Catalogo *********************************/
.catalogo{
    width: 100%;
    height: auto;
    background-color: blue;
    margin-top: 5%;
}
.item{
    width: 50%;
    height: 500px;
    background-color: brown;
}
.item p{
    text-align: right;
}
.item img{
    width: 250px;
    height: 250px;
    float: left;
}

/***********************************Finaliza Catalogo *********************************/