/*Inicializa Mapa e Informações*/
.localizacao{
    width: 100%;
    background-color: darkgreen;
    height: 600px;
}
div.mapa{
    width: 50%;
    height: auto;
    float: left;
    background-color: chocolate;
}
div.info{
    width: 50%;
    height: 300px;
    float: right;
    background-color: coral;
}

/*Finalização Mapa e Informações*/